@import "../../../css/variable.scss";
.admin-panel-container{
  @include DisplayFlex();
  width: 90%;
  margin: 0 auto;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
}
div.task{
  //@include  DisplayFlex();
  width: 23%;
  height: 180px;
  border-radius: 10px;
  padding: 15px 25px;
  margin:0 10px 15px 10px ;
  & > p{
    &:first-child{
      font-size: 1.2rem;
      height: 50%;
    }
    &:last-child{
      @include DisplayFlex();
      height: 50%;
      align-items: center;
      justify-content: flex-start;
      direction: ltr;
      font-size: 2rem;
    }
  }
  //align-items: center;
  //justify-content: space-between;
}