@import "../../../../css/variable";
.create-job-container{
  width: 100%;
  height: 100%;
  & .top{
    width: 100%;
    height: 50px;
    & button{
      @include Button();
      padding: 8px 15px;
    }
  }
  & .grid{
    width: 100%;
    height: calc(100% - 50px);
  }
}
.create-job-modal{
  width: 100%;
  height: 100%;
  overflow: hidden auto;
  padding: 5px 10px;
  & .form{
    @include DisplayFlex();
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 130px;
    & .model-item{
      width: 32%;
      & .r-input{
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }
}